<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="NewsletterSideJob" value="NewsletterSideJob"/>
	</appSettings>
	<connectionStrings>
		<remove name="LocalMySqlServer"/>
		<add name="NewsletterConnectionString" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_33736_Newsletter;User ID=DB_33736_Newsletter_user;Password=haithem759163" providerName="System.Data.SqlClient"/>
		<add name="SidejobEntities" connectionString="metadata=res://*/App_Code.SideJobModel.csdl|res://*/App_Code.SideJobModel.ssdl|res://*/App_Code.SideJobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s04.winhost.com;Persist Security Info=True;User ID=DB_33736_sidejob_user;Password=haithem759163;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="SideJobConnectionString" connectionString="Data Source=s04.winhost.com;User ID=DB_33736_sidejob_user;Password=haithem759163" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership defaultProvider="NewsletterAspNetSqlMembershipProvider">
			<providers>
				<clear/>
				<add name="NewsletterAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="NewsletterConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="NewsletterSideJob"/>
			</providers>
		</membership>
		<profile enabled="true" defaultProvider="NewsletterAspNetSqlProfileProvider">
			<providers>
				<clear/>
				<add name="NewsletterAspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="NewsletterConnectionString"/>
			</providers>
			<properties>
				<add name="FirstName" type="string" defaultValue="null"/>
				<add name="LastName" type="string" defaultValue="null"/>
				<add name="Gender" type="string" defaultValue="null"/>
				<add name="Age" type="string" defaultValue="null"/>
				<add name="Country" type="string" defaultValue="null"/>
				<add name="CountryID" type="Int32" defaultValue="null"/>
				<add name="Region" type="string" defaultValue="null"/>
				<add name="RegionID" type="Int32" defaultValue="null"/>
				<add name="City" type="string" defaultValue="null"/>
				<add name="CityID" type="Int32" defaultValue="null"/>
				<add name="Zipcode" type="string" defaultValue="null"/>
				<add name="MaritalStatus" type="string" defaultValue="null"/>
				<add name="Industry" type="string" defaultValue="null"/>
				<add name="Email" type="string" defaultValue="null"/>
				<add name="Question" type="string" defaultValue="null"/>
				<add name="Answer" type="string" defaultValue="null"/>
				<add name="Profession" type="string" defaultValue="null"/>
				<add name="ProfessionID" type="string" defaultValue="null"/>
				<add name="CompanyURL" type="string" defaultValue="null"/>
				<add name="Cellphone" type="string" defaultValue="null"/>
				<add name="Facebook" type="string" defaultValue="null"/>
				<add name="LinkedIn" type="string" defaultValue="null"/>
				<add name="Twitter" type="string" defaultValue="null"/>
				<add name="Picture1" type="string" defaultValue="/images/DefaultTiny.png"/>
				<add name="Picture2" type="string" defaultValue="/images/DefaultTiny.png"/>
				<add name="Picture3" type="string" defaultValue="/images/DefaultTiny.png"/>
				<add name="Picture4" type="string" defaultValue="/images/DefaultTiny.png"/>
				<add name="Language" type="string" defaultValue="null"/>
				<add name="LCID" type="Int32" defaultValue="1"/>
				<add name="Description" type="string" defaultValue="null"/>
			</properties>
		</profile>
		<roleManager enabled="true"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>